.input-pequeno {
    width: 400px;
    height: 35px;
    font-size: 20px;
    padding: 4px;
}

.input-select {
    width: 120px;
    height: 35px;
    font-size: 18px;    
    padding: 4px;
}

.input-phone{
    width: 170px;
    height: 35px;
    font-size: 18px;    
    padding: 4px;
}

.center{
    align-items: center;
    justify-content: center;
    display: flex;
}

.cadastro{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg{
  background-color: #ffffff; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-azul-claro {
  background-color: #c4dff1;
  width: max-content;
}

form .row {
  padding: 10px;
  border-radius: 2px;
  background-color: #f0f0f0;
}

.cancel{
  display: flex;
  float: right;
  right: 690px;
  bottom: -255px;
  position: relative;
  position: absolute;
}


